#gameScreen {
  border: 1px dotted black;
  display: inline-block;
  width: 1200px;
  height: 600px;
}
#new {
  background-color: blue;
  display: inline-block;
}

#rocket {
  position: relative;
  z-index: 1000;
  left: -1000px;
  top: -1000px;
}
